#page-container {
    width: 800px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    margin: auto;
    display: flex;
}

body {
    margin: 0;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebar {
    color: white;
    width: 200px;
    background-color: #1d1d1d;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.sidebar a .logo {
    width: 95%;
}

.sidebar a:has(.logo) {
    padding: 20px 20px;
}

.sidebar a:not(:has(.logo)) {
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(255,255,255,0.2);
    padding: 0.8rem 0.5rem;
    margin: 0 15px;
    transition: 0.2s padding ease;
}

.sidebar a:not(:has(.logo)):hover {
    padding: 0.8rem 0.9rem;
    font-style: italic;
}

.sidebar hr {
    width: calc(100% - 30px);
    opacity: 30%;
}