* {
    --base-padding: clamp(30px, calc((100vw - 800px)/2), 800px);
}

body {
    color: white;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #222;
}

header {
    padding: 10px var(--base-padding);
    height: 60px;
    background-color: #1d1d1d;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header div .logo {
    height: 100%;
}

header div {
    height: 60%;
}

header nav {
    display: flex;
    gap: 1.5rem;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 0.7rem 1.2rem;
    transition: 0.3s all ease;
    border-radius: 8px;
}

header nav a:hover {
    background-color: white;
    color: #1d1d1d;
}

#content {
    padding: 0 var(--base-padding);
    height: 600px;
}

footer {
    background-color: #1d1d1d;
    padding: 1.5rem var(--base-padding);
    display: flex;
    justify-content: space-between;
}

footer div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    flex: 1;
}

footer div a {
    color: white;
    text-decoration: none;
    margin: 2px 0;
}

footer div a:hover {
    text-decoration: underline;
}

footer div p {
    opacity: 50%;
    margin: 2px 0;
}