#page-container {
    width: 800px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    margin: auto;
    display: flex;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #222;
}

nav {
    color: white;
    width: 200px;
    background-color: #1d1d1d;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
}

nav div {
    display: flex;
    flex-direction: column;
}

main {
    margin-left: 210px;
    width: calc(100vw - 210px);
}

nav div a .logo {
    width: 95%;
}

nav div a:has(.logo) {
    padding: 20px 20px;
}

nav div a:not(:has(.logo)) {
    color: white;
    opacity: 80%;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 0.6rem 0.35rem;
    margin: 0 15px;
    transition: 0.15s all ease;
    font-size: 0.9rem;
}

nav div a:not(:has(.logo)):hover {
    padding: 0.6rem 0.45rem;
    opacity: 100%;
}

nav hr {
    width: calc(100% - 30px);
    opacity: 30%;
}

footer {
    opacity: 40%;
    margin: 0.5rem auto;
}