body {
    background-color: #222;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    height: 40px;
    padding: 8px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 8px;
    right: 8px;
    top: 8px;
}

header div {
    background-color: #1d1d1d;
    border-radius: 12px;
    padding: 10px 12px;
    height: 100%;
    width: fit-content;
    align-items: center;
    display: flex;
    gap: 12px;
}

header div a .logo {
    height: 20px;
    padding: 10px 20px;
}

header div a:not(:has(.logo)) {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.12s all ease;
}

header div a:not(:has(.logo)):hover {
    background-color: white;
    color: #222;
}

main {
    padding: 0;
    flex: 1;
}

footer {
    background-color: #1d1d1d;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

footer div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    flex: 1;
}

footer div a:not(:has(.logo)) {
    color: white;
    text-decoration: none;
    margin: 2px 0;
    padding-left: 1rem;
}

footer div a:not(:has(.logo)):hover {
    text-decoration: underline;
}

footer div p {
    opacity: 50%;
    margin: 2px 0;
}

footer .logo {
    height: 2rem;
    margin-bottom: 0.5rem;
}